name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
  # Trigger on tag push
  push:
    tags:
      - 'v*'

env:
  JAVA_VERSION: '11'
  JAVA_DISTRO: 'zulu'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Extract version
        run: |
          VERSION=$(echo "${{ github.ref_name }}" | cut -c 2-)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}
          cache: maven

      - name: Maven Setup JDKs
        # The shell is bash on Linux and Powershell in Windows
        run: ./mvnw --no-transfer-progress --batch-mode --file pom.xml -Pjdks

      - name: Build
        run: ./mvnw -ntp -B --file pom.xml verify

      - name: Display structure of files
        run: ls -R

      - name: Assemble
        uses: jreleaser/release-action@v2
        with:
          arguments: assemble --debug
        env:
          JRELEASER_PROJECT_VERSION: ${{ env.VERSION }}
          JRELEASER_OUTPUT_DIRECTORY: target
          
      - name: Release
        uses: jreleaser/release-action@v2
        with:
          arguments: full-release --debug
        env:
          JRELEASER_PROJECT_VERSION: ${{ env.VERSION }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          JRELEASER_OUTPUT_DIRECTORY: target

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jreleaser-release
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties
